/* Based on Alison's original at
 https://rstudio-conf-2020.github.io/slide-templates/xaringan/
*/

.remark-slide-content p, ul, ol, li {
  font-size: 1.4rem;
}

.remark-slide-content {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

.remark-slide-content {
  background-color: #fbf9f4;
}

.remark-slide-content h1 {
  font-weight: normal;
  font-size: 45px;
  margin-top: 0px;
}

.footnote {
	bottom: 1em;
	font-size: 75%;
}

img {
	margin-bottom: 1.5rem;
	overflow: hidden;
	/*background: #fff;*/
	/*box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);  MK Edit */
}

.code10 .remark-code {
  font-size: 10%;
}

.code20 .remark-code {
  font-size: 20%;
}

.code30 .remark-code {
  font-size: 30%;
}

.code40 .remark-code {
  font-size: 40%;
}

.code50 .remark-code {
  font-size: 50%;
}

.code60 .remark-code {
  font-size: 60%;
}

.code70 .remark-code {
  font-size: 70%;
}

.code80 .remark-code {
  font-size: 80%;
}

.code90 .remark-code {
  font-size: 90%;
}

.code95 .remark-code {
  font-size: 95%;
}

.code100 .remark-code {
  font-size: 100%;
}

.font10 p {
  font-size: 10%;
}

.font20 p {
  font-size: 20%;
}

.font30 p {
  font-size: 30%;
}

.font40 p {
  font-size: 40%;
}

.font50 p {
  font-size: 50%;
}

.font60 p {
  font-size: 60%;
}

.font70 p {
  font-size: 70%;
}

.font80 p {
  font-size: 80%;
}

.font90 p {
  font-size: 90%;
}

.font100 p {
  font-size: 100%;
}

.font110 p {
  font-size: 110%;
}

.font120 p {
  font-size: 120%;
}

.font130 p {
  font-size: 130%;
}

.font140 p {
  font-size: 140%;
}

.font150 p {
  font-size: 150%;
}

.font160 p {
  font-size: 160%;
}
.font170 p {
  font-size: 170%;
}
.font180 p {
  font-size: 180%;
}
.font190 p {
  font-size: 190%;
}
.font200 p {
  font-size: 200%;
}


/* code */

pre {
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px #282a36;
  background-color: #fff;
  overflow-x: auto;
  border-radius: 0px; /*undo rounded corners*/
  font-size: 65%;
}

pre code { 
  background: none; 
  font-size: 0.8rem;
  font-family: monospace;
}


.hljs {
	background: #fff !important;
}

/* darken up code and results */
.hljs-solarized-light .hljs {
  color: #2B3D43; 
}

.hljs-solarized-light .hljs-comment, 
.hljs-solarized-light .hljs-quote {
	color: #7E8A8A;
}


.display {
  font-weight: 700;
  color: #E7553C;
}

.title {
  font-family: 'Source Sans Pro', serif;
  font-weight: 400;
}

/* link color */
a, a > code {
  color: #E7553C;
}


:any-link {
    color: #E7553C;
    text-decoration: underline;
}


/* mouse over link */
a:hover, a:active, a:focus {
    color: rgba(231,85,60,.8);
    text-decoration: underline;
}

.remark-code {
  color: #E7553C;
  font-size: 1.25em;
}

.remark-inline-code { 
  color: #E7553C;
  font-size: .9em;
  
}

.remark-code-line-highlighted { 
  background-color:  #bed3eca1; 
}

.inverse {
  background-color: #2f5275;
  color: #FFFFFF;
  text-shadow: none;
}

.inverse .remark-inline-code {
  color:  #FFF;
}

.inverse a {
  color: #fff;
}

.inverse a:hover {
  color: #bed3ec;
}


/* Two-column layout */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }

.title-slide {
  background-image: 
    /* top is white; middle is orange; bottom is blue */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      rgba(231, 85, 60, .1), 
      rgba(68, 112, 153, 1)
    ),
    /* your image */
    url(../../images/robert-bye-678640-unsplash.jpg);
  /*background-image: url(../../images/robert-bye-678640-unsplash.jpg);*/
  /*background-position: top;*/
  background-size: cover;
}


.title-slide h1 {
  font-family: 'Source Sans Pro', serif;
  color: #FFFFFF;
  font-size: 2em;
  padding-top: 0em;
  line-height: 1em;
  padding-bottom: .1em;
  word-wrap: break-word;
  text-shadow: 3px 3px #404040;
}

.title-slide h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  color: #FFFFFF;
  text-shadow: none;
  padding-top: .1em;
  margin-top: 0px;
  margin-bottom: .1em;
}

.title-slide h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.6em;
}

.title-slide h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-slide a {
  color: #fff;
}

/* Wider cols */

.right-wide {
  width: 60%;
  float: right;
  padding-top: 1em;
}

.left-narrow {
  width: 40%;
  float: left;
  padding-top: 1em;
}

.left-wide {
  width: 60%;
  float: left;
  padding-top: 1em;
}

.right-narrow {
  width: 40%;
  float: right;
  padding-top: 1em;
}

/* footer */

div.my-footer {
    background-color: #2f5275;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: #ffffff;
    position: absolute;
    left: 15px;
    bottom: 2px;
}

/* max's additions */


.title-hex{
  height: 50px;
  align: middle;
  float: right;
}

.pull-left-a-lot {
  float: left;
  width: 60%;
}
.pull-right-a-little {
  float: right;
  width: 37%;
}

/* davis additions */

.remark-slide-number {
  font-size: 13pt;
  font-family: 'Source Sans Pro';
  color: #272822;
  opacity: 1;
}
.inverse .remark-slide-number {
  font-size: 13pt;
  font-family: 'Source Sans Pro';
  color: #f3f3f3;
  opacity: 1;
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

