@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body {
  font-family: 'Source Sans Pro';
  font-weight: 200;
}

strong {
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

p {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 36px;
}

h1 {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 75px;
}

h2 {
  font-family: 'Source Sans Pro';
  font-size: 48px;
  font-weight: normal;
}

h3 {
  font-family: 'Source Sans Pro';
  font-size: 36px;
  font-weight: normal;
}

a, a > code {
  font-family: 'PT Mono';
  color: rgb(249, 38, 114);
  text-decoration: none;
}

.footnote {
  font-family: 'Source Sans Pro';
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  color: #4287c7;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  font-family: 'Source Sans Pro';
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

table {
  margin: auto;
  border-bottom: 1px solid #666;
}

table thead th { border-bottom: 1px solid #ddd; }

th, td {
  padding: 5px;
  font-size: 36px;
}

thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.remark-code, .remark-inline-code {
  font-family: 'PT Mono';
  background-color: #c8c8c8;
}

.remark-code-line-highlighted {
  background-color: #fff;
}

.remark-slide-number {
  bottom: 12px;
  opacity: .9;
  position: absolute;
  right: 40px;
  font-size: 10px;
}

/** Two-column layout **/
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ * {
  clear: both;
}

/**
slide types: 
  * title-slide (used automatically),
  * subtitle-slide + white or blue,
  * panel-wide-slide,
  * panel-narrow-slide,
  * blank-slide + white or blue
**/

.title-slide, .subtitle-slide, .panel-narrow-slide, .panel-wide-slide, .blank-slide {
  background-size: cover;
}

.title-slide {
  background-image: url('./title.png');
  color: #fff;
  font-family: 'Source Sans Pro ExtraLight';
  font-weight: normal;
  line-height: .8em;
}

.title-slide h1 {
  font-size: 80px;
}

.title-slide h2 {
  line-height: .7em;
  font-size: 36px;
}

.title-slide h3 {
  line-height: .5em;
  font-size: 24px;
}

.title-slide .remark-slide-number {
  display: none;
}

.panel-narrow-slide {
  background-image: url('./panel-narrow.png');
  padding-left: 180px;
}

.panel-wide-slide {
  background-image: url('./panel-wide.png');
  padding-left: 360px;
}

.subtitle-slide.blue {
  background-image: url('./subtitle-blue.png');
}

.blank-slide.blue {
  background-image: url('./blank-blue.png');
  background-size: cover;
}

.blue {
  color: #fff;
}

.subtitle-slide.white {
  background-image: url('./subtitle-white.png');
}

.blank-slide.white {
  background-image: url('./blank-white.png');
}

.white {
  color: #404040;
}

.small-note {
  font-size: 24px;
}

.small-quote {
  font-size: 30px; 
}

.resource-link {
  background: yellow;
}