{{ define "body" }}
<body class="profile-page">
  {{ partial "nav-fixed-top.html" . }}
    <div class="wrapper">
	  	<div class="header header-filter" style="background-image: url('{{ .Params.background | relURL }}');"></div>
		    <div class="main main-raised">
			    <div class="profile-content">
	          <div class="container">
	            <div class="row">
	              <div class="profile">
	                <div class="avatar">
	                  <img src="{{ .Params.profile | relURL }}" alt="Circle Image" class="img-circle img-responsive img-raised">
	                </div>
	                <div class="name">
	                  <h3 class="title">{{ .Title }}</h3>
								    <h6>{{ .Params.subtitle }}</h6>
	               </div>
	             </div>
	           </div>
	           <div class="description text-center">
               <p>{{ .Params.description }}</p>
	           </div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							{{ .Content }}
						</div>
	        </div>
	        </div>
	      </div>
		  </div>
    </div>
    {{ partial "footer" . }}
</body>
{{ end }}